.App {
  font-family: sans-serif;
  color: var(--tg-theme-text-color);
  background-color: var(--tg-theme-bg-color);
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.tab-content {
  flex: 1;
  /* Занимает всё доступное пространство */
  margin: 20px;
  overflow-y: auto;
  /* Добавляем прокрутку, если контент превышает высоту */
}

.sql-grid {
  display: flex;
  flex-direction: column;
  align-items: center; /* Центровка кнопок по горизонтали */
  justify-content: center; /* Центровка кнопок по вертикали */
  height: 100%; /* Заполнить весь доступный контейнер */
}

.sql-grid button {
  width: 150px; /* Уменьшенная ширина кнопок */
  margin: 10px 0; /* Добавление отступа между кнопками */
}

.settings-grid {
  display: flex;
  flex-direction: column;
  align-items: center; /* Центровка кнопок по горизонтали */
  justify-content: center; /* Центровка кнопок по вертикали */
  height: 100%; /* Заполнить весь доступный контейнер */
}

.settings-grid button {
  width: 150px; /* Уменьшенная ширина кнопок */
  margin: 10px 0; /* Добавление отступа между кнопками */
}

.tab-bar {
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -50%);
  padding: 20px;
  z-index: 1000;
}